@model RwaApartmaniDataLayer.Models.Apartment

<div class="container rounded-3 darkblue">
    <div class="row mb-3">
        <div class="col-4">
            <div class="container p-3">
                <img src="@Model.RepresentativePicture.Base64Content" class="custom_image rounded-3" />
            </div>
        </div>
        <div class="col-8">
            <div class="row h-50 clearfix">
                <h2 class="pt-3 white_text" style="height:fit-content">@Model.NameEng</h2>
                <span style="height:fit-content" class="text-white"><img src="~/Content/images/location.png" style="margin-right:.5em" />@Model.CityName</span>
                <span></span>
            </div>
            <div class="row h-50">
                @Html.Partial("_PriceView", model: Model.PriceString)
            </div>
        </div>
    </div>
</div>
