<div class="container tag_container_light rounded-3 mb-3 p-3">
    <div class="row">
        <div class="col-md-auto">
            <img src="~/Content/images/user_account.png" class="user_icon" />
        </div>
        <div class="col-sm">
            <div class="row h-50">
                <div class="col-md-auto">
                    <h5 style="width:fit-content">You</h5>
                    <div class="mb-3">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <img id="@i" class="icon" src="~/Content/images/star_empty.png" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-sm">
                        @Html.TextArea(name: "Details", value: "", rows: 3, columns: 1, htmlAttributes: new { @class = "form-control", placeholder = "Place your review here" })
                    </div>
                    <div class="col-md-auto">
                        <input type="submit" class="btn btn-outline-warning" value="Add review" style="height:100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    <script>

        $("#1, #2, #3, #4, #5").on('click', function () {
            console.log(this.id)
        });

    </script>
}