@model string

<div class="rounded-3 price_container" style="width:fit-content; height:fit-content; display:flex; align-items:center; justify-content:center" >
    <div class="p-2">
        <span style="font-weight:bold">@Model</span>
    </div>
</div>
