@model RwaApartmaniDataLayer.Models.ApartmentReview
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-auto">
            <img src="~/Content/images/user_account.png" />
        </div>
        <div class="col-sm">
            
        </div>
    </div>
</div>