@using RwaApartments_Public.Models.ViewModels
@model RwaApartmaniDataLayer.Models.ApartmentReview
@{
    StarsViewModel starsViewModel = new StarsViewModel
    {
        Stars = Model.Stars,
    };
}
<div class="container tag_container_light rounded-3 mb-3 p-3">
    <div class="row">
        <div class="col-md-auto">
            <img src="~/Content/images/user_account.png" class="user_icon" />
        </div>
        <div class="col-sm">
            <div class="row h-50">
                <div class="col-md-auto">
                    <h5 style="width:fit-content">@Model.User.FullName</h5>
                    <div class="mb-3">
                        @Html.Partial("_StarsView", model: starsViewModel)
                    </div>
                </div>
            </div>
            <div class="row h-50">
                <div class="row h-50">
                    <div class="container">
                        <p>@Model.Details</p>
                    </div>
                </div>
                <div class="row h-50" style="display:flex; justify-content:end">
                    @Model.CreatedAt.ToShortDateString()
                </div>
            </div>
        </div>
    </div>
</div>