@model string

<div class="rounded-3 tag_container" style="width:fit-content; height:fit-content; display:flex; align-items:center; justify-content:center">
    <div class="p-2" style=" white-space: nowrap; text-overflow: ellipsis;">
        <div>@Model</div>
    </div>
</div>
