
@{
    ViewBag.Title = "Index";
}

<div class="container" style="height:100%">
    <div class="container" style="display:flex; justify-content:center; align-items:center">
        <img src="~/Content/images/nocando.jpg" />
    </div>
    <div class="container mb-3">
        <h2 style="text-align:center">n o c a n d o</h2>
    </div>
</div>

