
@{
    ViewBag.Title = "N O C A N D O";
}

<div class="container" style="height:100%">
    <div class="container" style="display:flex; justify-content:center; align-items:center">
        <img src="~/Content/images/nocando.jpg" />
    </div>
    <div class="container mb-3">
        <h2 style="text-align:center">n o c a n d o</h2>
    </div>
    <div class="container" style="display:flex; justify-content:center; align-items:center">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran" id="back_to_apartments" class="btn btn-danger">Back to apartments</a>
    </div>
</div>