@model RwaApartments_Public.Models.ViewModels.ApartmentsBrowserViewModel

@{
    ViewBag.Title = "Browse apartments";
}

<div class="container">
    <div class="col-sm">
        @foreach(var apartment in Model.Apartments)
            {
                @Html.Partial("_ApartmentInListView", model: apartment)
            }
    </div>
</div>
