
a{
    text-decoration: none;
}

.custom_page{
    min-height: 85vh;
}

.custom_image {
    width: 100%;
    height: 100%
}

.icon {
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}

.user_icon{
    width: 3em;
    height: 3em
}

.darkblue {
    background-color: rgb(4, 28, 50);
}

.mediumblue {
    background-color: rgb(4, 41, 58);
}

.lighterblue {
    background-color: rgb(6, 70, 99);
}

.cream {
    background-color: rgb(236, 179, 101);
}

.white_text {
    color: #ffffff;
}

.light_gray_text{
    color: rgb(247, 247, 247);
}

.white_link {
    color: #ffffff;
    transition: all ease-in;
}

.white_link:hover {
    color: rgb(236, 179, 101);
}

.avaliabilty_container_avaliable {
    color: #ffffff;
    background-color: green;
}

.avaliability_container_unavaliable {
    color: #ffffff;
    background-color: rgb(220,53,69);
}

.price_container {
    color: white;
    background-color: #FF5A5F;
    font-weight: bold;
}

.tag_container {
    background-color: rgb(196, 196, 196);
    color: white;
}

.tag_container_light{
    background-color: rgb(243, 243, 243);
    color: black;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #060956 #ffffff;
}

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 16px;
    }

    *::-webkit-scrollbar-track {
        background-color: rgb(4, 28, 50);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(6, 70, 99);
        border-radius: 10px;
        border: 3px solid rgb(6, 70, 99);
    }
